.sectionWrap5 {
    width : 100%;
    height : 100vh;
    position : relative;
}
.sectionWrap5 h1 {
    width : 100%;
    height : 100px;
    line-height : 100px;
    text-align : center;
    font-size : 60px;
    top : 50px;
    position : relative;
    color : #2ea;
}
.contact {
    position : relative;
    top : 100px;
    display : flex;
    flex-flow : column wrap;
    align-items: center;
    
}
.contact p {
    font-size : 24px;
    line-height : 120px;
    font-family: 'Pretendard';
}
.contact span {
    margin-left : 5px;
}
.contact a {
    display : inline-block;
    transition : .5s;
}
.contact a:hover {
    color : #2ea;
}

.ty {
    position : relative;
    top : 100px;
    height : calc(100vh - 610px);
    line-height : calc(100vh - 610px);
    text-align : center;
    font-size : 48px;
}

.mainText {
    color : #2ea;
    display : inline-block;
    font-family : 'Pretendard';
    font-weight : bold;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #2ea, #46eeb6 20%, #94eacd 40%, #ccece1 60%, #d7ece5 80%, #fff);
    background-size: 100% 300%;
    background-position-y: 0;
    animation: gradient 2s linear infinite alternate;
}
@keyframes gradient {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 100%;
    }
}

.typed-cursor {
    display : inline-block;
    font-size : 40px;
    font-weight : lighter;
}

footer {
    width : 100%;
    height : 50px;
    display : flex;
    align-items: center;
    justify-content: center;
    position : absolute;
    bottom : 0;
    left : 0;
}
footer p {
    margin-left : 6px;
}

@media screen and (max-width : 1024px) {
    .sectionWrap5 h1 {
        font-size : 42px;
    }
    .contact p {
        font-size : 22px;
    }
    .contact span {
        font-size : 22px;
    }
    .contact a {
        font-size : 22px;
    }
    .mainText {
        font-size : 40px;
    }
    .typed-cursor {
        font-size : 36px;
    }
    footer p, footer i {
        font-size : 20px;
    }
}
@media screen and (max-width : 1024px) {
    .contact p {
        font-size : 18px;
    }
    .contact span {
        font-size : 18px;
    }
    .contact a {
        font-size : 18px;
    }
    footer p, footer i {
        font-size : 16px;
    }
}
@media screen and (max-width : 500px) { 
    .contact p {
        font-size : 14px;
    }
    .contact span {
        font-size : 14px;
    }
    .contact a {
        font-size : 14px;
    }
    footer p, footer i {
        font-size : 12px;
    }
}