/* section1 */
.sectionWrap {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 100vh;
    position : relative;
}
.sectionWrap h1 {
    text-align : left;
    color : #fff;
    font-size : 110px;
    line-height : 110px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    display : inline;
    position : absolute;
    bottom : 60px;
    left : 80px;
    font-family : 'cafe24';
    transition : .5s;
}
.sectionWrap h1 .middleText {
    margin : 50px 0;
    font-size : 130px;
    color : #2ea;
}

.char {
    transform: translateY(445px);
    transition: transform .5s;
}

@media screen and (max-width : 1200px) {
    .sectionWrap h1 {
        font-size : 80px;
        line-height : 80px;
    }
    .sectionWrap h1 .middleText {
        font-size : 100px;
        margin : 40px 0;
    }
}
@media screen and (max-width : 950px) {
    .sectionWrap h1 {
        width : 100%;
        bottom : 50%;
        transform : translateY(50%);
        font-size : 50px;
    }
    .sectionWrap h1 .middleText {
        font-size : 72px;
        margin : 30px 0;
    }
}
@media screen and (max-width : 768px) {
    .sectionWrap h1 {
        font-size : 42px;
    }
    .sectionWrap h1 .middleText {
        font-size : 50px;
        margin : 25px 0;
    }
}
@media screen and (max-width : 500px) {
    .sectionWrap h1 {
        font-size : 24px;
        left : 50px;
    }
    .sectionWrap h1 .middleText {
        font-size : 32px;
        margin : 10px 0;
    }
} 