.sectionWrap3 {
    width : 100%;
    height : 100vh;
    position : relative;
}
.sectionWrap3 h1 {
    width : 100%;
    height : 100px;
    line-height : 100px;
    text-align : center;
    font-size : 60px;
    top : 50px;
    position : relative;
    color : #2ea;
}
.skill {
    position : relative;
    top : 50px;
    width : 100%;
    height : calc(100% - 150px);
    display : flex;
    flex-flow : row wrap;
    justify-content: center;
    gap : 10px;
    padding : 0 50px;
}
.skillCircle {
    width : 19%;
    position : relative;
}
.skillCircle img {
    width : 20px;
}
.skillCircle svg {
    width : 60%;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%) rotate(-90deg);
    z-index : 10;
}
.circleBar {
    stroke-width : 10;
    stop-color : #000;
    fill : transparent;
    stroke : #333;
    stroke-dasharray: 502;
    stroke-dashoffset: -1;
    stroke-linecap: round;
    animation : circle 1s linear forwards;
}
.percentage {
    text-align: center;
    width : 100%;
    z-index : 10;
    text-shadow : 0 0 10px #000;
    transition : .5s;
    position : absolute;
    font-size : 22px;
    top : 50%;
    transform : translateY(-50%);
}
.skillName {
    width : 100%;
    display : flex; 
    justify-content: center;
    align-items: center;
    z-index : 10;
    transition : .5s;
    position : relative;
    top : 15%;
    gap : 4px;
}

.path {
    stroke-width : 10;
    stroke : #2ea;
    fill : transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path1 {animation : path1 1s .5s linear forwards;}
.path2 {animation : path2 1s .5s linear forwards;}
.path3 {animation : path3 1s .5s linear forwards;}

@keyframes path1 {
    100% {stroke-dashoffset: 50;}
}
@keyframes path2 {
    100% {stroke-dashoffset: 125;}
}
@keyframes path3 {
    100% {stroke-dashoffset: 205;}
}

@media screen and (max-width : 1500px) {
    .skillName {
        top : 14%;
        font-size : 18px;
    }
    .skillCircle svg {
        width : 80%;
    }
}
@media screen and (max-width : 1024px) {
    .sectionWrap3 h1 {
        font-size : 42px;
    }
    .skillCircle {
        width : 30%;
    }
    .skillCircle svg {
        width : 70%;
    }
    .skillName {
        top : 3%;
        font-size : 18px;
    }
    .percentage {
        font-size : 18px;
    }
}
@media screen and (max-width : 768px) {
    .skill {
        justify-content: space-between;
    }
    .skillCircle svg {
        width : 80%;
    }
    .percentage {
        font-size : 16px;
    }
    .skillName {
        font-size : 14px;
    }
}
@media screen and (max-width : 500px) {
    .skillCircle svg {
        width : 100%;
    }
    .skillCircle img {
        width : 15px;
    }
    .percentage {
        font-size : 10px;
    }
    .skillName {
        top : 20%;
        font-size : 10px;
    }
}